@mixin prefix($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    #{$property}: $value
}

@mixin flex-display {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin top-button($float) {
    float: $float;
    padding: 0;    
    width: 3.625rem;
    height: 3.625rem;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

@mixin absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
