@mixin prefix($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    #{$property}: $value
}

@mixin flex-display {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin top-button($float) {
    float: $float;
    padding: 0;    
    width: 58px;
    height: 58px;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
