@import "./mixins.scss";

.sider-bar {
    position: fixed;
    width: 15.625rem;
    height: 100%;
    top: 3.625rem;
    bottom: 0;
    z-index: 555;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    ul {
        height: 100%;
        li {
            font-size: .875rem;
            a {
                display: block;
                padding: 1.28em 1em;
                height: 4.14em;
                color: rgb(68, 68, 68);
                text-decoration: none;
                @include prefix(transition, background-color .2s ease-out);
                &:hover {
                    background-color: rgba(0,0,0,0.1);
                }
                i {
                    margin-right: .72em;
                    color: #444444;
                }
            }
        }
    }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    @include prefix(transition, all .2s ease-out);
}

.slide-fade-enter,
.slide-fade-leave-to {
    @include prefix(transform, translateX(-250px));
}
